---
import Layout from "../layouts/Layout.astro";

import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";

const { aboutText } = await sanityClient.fetch(
  `*[_type == "aboutContent"]{aboutText}[0]`
);
---

<Layout title="about groundwaves">
  <main>
    <section class="pb-32">
      <h1 class="mb-8 text-center text-2xl font-bold">About Us</h1>
      {aboutText && <PortableText value={aboutText} />}
      <div class="cta">
        <p>
          Contact Groundworks for more information, or sign up for our mailing
          list.
        </p>
        <button type="button" class="cta-button" value="Join Mailing List"
          >Join</button
        >
      </div>
    </section>
  </main>
</Layout>
