---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about groundwaves">
  <main>
    <section class="pb-32">
      <h1 class="mb-8 text-center text-2xl font-bold">About Us</h1>
      <p>
        Groundwaves creates a new appreciation for nature by bringing unique
        concert experiences and art performances to the diverse natural
        landscapes of Salt Spring Island.
      </p>
      <p>
        Groundwaves is the live experience side of Groundworks SSI — a
        non-profit focused on fostering a dialogue between technology and nature
        through the curation and programming of emerging art works, experiences,
        education, and cultural exchange.
      </p>
      <p>
        We're grateful to collaborate and produce on the shared, stolen,
        unceded, ancestral and traditional territories of Penelakut, Lamalcha,
        Hwitslum and other Hul’qumi’num speaking peoples, as well as the ceded
        territories of Tsawwassen First Nation, on what is now known as Salt
        Spring Island, British Columbia.
      </p>

      <div class="cta">
        <p>
          Contact Groundworks for more information, or sign up for our mailing
          list.
        </p>

        <button type="button" class="cta-button" value="Join Mailing List"
          >Join</button
        >
      </div>
    </section>
  </main>
</Layout>
