---
import AfwLayout from "../layouts/AfwLayout.astro";
import ImageBanner from "../components/astro/afw/ImageBanner.astro";
import AfwCopyRefactored from "../components/astro/afw/AfwCopyRefactored.astro";
import { Image } from "astro:assets";

import Logo from "../assets/afwAssets/Logo-Type_01.png";
import Dude from "../assets/afwAssets/AFW_Dude_7.0.png";
---

<AfwLayout title="A Friendly Wave">
  <main>
    <div class="max-w-screen-lg mx-auto">
      <header
        class="text-center mb-10 flex flex-col items-center justify-center px-8 max-w-screen-lg mx-auto"
      >
        <Image
          src={Logo}
          alt="A Friendly Wave Logo"
          width={1200}
          height={300}
          class="mb-4"
          format="webp"
        />

        <h2 class="text-xl mt-2 text-skin-base">Volume 2</h2>
        <h2 class="text-xl mt-2 font-semibold text-skin-base">
          A Pop-Up Listening Experience | Dec 5 - 7, 2025
        </h2>
        <p class="italic mt-4 max-w-prose mx-auto text-lg">
          Salt Spring Island welcomes a temporary but transformative environment
          where music, community, and cultural exchange converge.
        </p>

        <!-- <h2 class="text-xl mt-2 font-semibold text-skin-base mb-4"> -->
        <!--   Schedules: -->
        <!-- </h2> -->
        <!-- <nav -->
        <!--   class="grid grid-cols-2 sm:grid-cols-3 gap-4" -->
        <!--   id="afw-schedule-nav" -->
        <!-- > -->
        <!--   <a href="#fridaymay23">Friday, May 23</a> -->
        <!--   <a href="#saturdaymay24">Saturday, May 24</a> -->
        <!--   <a href="#sundaymay25">Sunday, May 25</a> -->
        <!--   <a href="#fridaymay30">Friday, May 30</a> -->
        <!--   <a href="#saturdaymay31">Saturday, May 31</a> -->
        <!--   <a href="#sundayjune1">Sunday, June 1</a> -->
        <!-- </nav> -->
        <a
          href={"https://www.eventbrite.ca/e/dark-mode-eddie-c-somethin-else-djs-tickets-1976232427389?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"}
          aria-label="Ticket Link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button
            type="button"
            class="cta-button self-center my-6"
            value="Get Tickets"
          >
            Get DARK MODE <br />w/ Eddie C Tickets
          </button>
        </a>
      </header>
    </div>
    <ImageBanner height="500px" />

    <AfwCopyRefactored />
    <div
      id="hide-until-after-break"
      class="fixed hidden bottom-24 right-24 z-10 opacity-25"
    >
      <Image src={Dude} alt="" width={200} height={200} />
    </div>

    <section class="flex text-center flex-col mx-auto mb-16 text-lg">
      <div class="cta grid place-content-center">
        <span class="text-center italic font-light">
          <strong>For updates and announcements:</strong> Follow us on Instagram
        </span>

        <a
          href="https://instagram.com/a.friendly.wave"
          class="afw-link mt-4 text-xl">@a.friendly.wave</a
        >
      </div>
    </section>
  </main>
</AfwLayout>

<script>
  window.addEventListener("scroll", () => {
    if (window.innerWidth >= 1024) {
      const element = document.getElementById("hide-until-after-break");
      if (!element) return;
      if (window.scrollY > 400) {
        element.classList.remove("hidden");
      } else {
        element.classList.add("hidden");
      }
    }
  });
</script>
