---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import SanityImage from "../components/SanityImage.astro";
import AfwCopy from "../components/AfwCopy.astro";

const events = await sanityClient.fetch(
  `*[_type == 'event' && slug.current == 'afw']{_id, name, date, endDate, eventCopy, image, tickets, youtubeEmbeds, headline->, venue->}`
);

const event = events[0];
---

<Layout title="groundwaves">
  <main>
    <!-- <div class="items-center my-6"> -->
    <SanityImage node={event.image} width="400" classNames="mx-auto " />

    <AfwCopy />
    <!-- {
      event?.tickets && (
        <a href={event.tickets} aria-label="Ticket Link">
          <button type="button" class="cta-button mt-16" value="Get Tickets">
            Get Tickets
          </button>
        </a>
      )
    } -->
    <!-- </div> -->
    <section class="flex text-center flex-col mx-auto pb-16">
      <div class="cta">
        <p>Join our mailing list for early access to our next event...</p>

        <button
          type="button"
          class="cta-button"
          onclick="location.href='https://rkbce3s6n3o.typeform.com/to/FMhtniXO';"
          value="Join Mailing List">Join</button
        >
      </div>
    </section>
  </main>
</Layout>
