---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import SanityImage from "../components/SanityImage.astro";
import AfwCopy from "../components/AfwCopy.astro";
import ImageBanner from "../components/ImageBanner.astro";

const events = await sanityClient.fetch(
  `*[_type == 'event' && slug.current == 'afw']{_id, name, date, endDate, eventCopy, image, tickets, youtubeEmbeds, headline->, venue->}`
);

const event = events[0];
---

<Layout title="groundwaves">
  <main>
    <ImageBanner height="500px" />

    <AfwCopy />

    <section class="flex text-center flex-col mx-auto mb-16">
      <div class="cta grid place-content-center">
        <span class="text-center italic font-light">
          <strong>For updates and announcements:</strong> Follow us on Instagram
        </span>

        <a href="https://instagram.com/a.friendly.wave" class="afw-link mt-4"
          >@a.friendly.wave</a
        >
      </div>
    </section>
  </main>
</Layout>
