---
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Layout.astro";
import SanityImage from "../components/SanityImage.astro";

const pastEvents = await sanityClient.fetch(
  `*[
        _type == "event"
        && date < now()
        ]{_id, name, date, eventCopy, image, headline->, venue->}|order(date desc)`
);
---

<Layout title="events">
  <main>
    <section class="flex text-center flex-col mx-auto items-center pb-16">
      <h1 class="font-semibold text-2xl text-skin-accent mb-16 text-center">
        Past events:
      </h1>
      {
        pastEvents.map((event: any) => {
          return (
            <div class="items-center my-6">
              <SanityImage
                node={event.image}
                width="800"
                classNames="mx-auto mb-16"
              />
              <h2 class="font-semibold text-2xl">{event.name}</h2>
              <h2 class="font-semibold text-2xl mb-12 italic">
                {new Date(event?.date).toLocaleDateString()} @{" "}
                {event.venue.name}
              </h2>
              <div class="text-left">
                <PortableText value={event.eventCopy} />
              </div>
              {/* <button
                type="button"
                class="cta-button mt-16"
                onclick="location.href='https://www.eventbrite.ca/e/joseph-shabason-wnicholas-krgovich-friends-under-a-big-maple-tree-tickets-918461341597?aff=GroundworksSite';"
                value="Get Tickets"
              >
                Get Tickets
              </button> */}
            </div>
          );
        })
      }
      <h2
        class="font-semibold text-2xl mb-12 text-skin-accent mt-32 text-center"
      >
        ...stay tuned, more on the way...
      </h2>
    </section>

    <!-- </div> -->
  </main>
</Layout>
