---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel";
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";

const { headline, heroText, imageGallery } = await sanityClient.fetch(
  `*[_type == "indexContent"]{headline, heroText, imageGallery}[0]`
);
---

<Layout title="groundwaves">
  <main>
    <section class="pb-32">
      {imageGallery && <Carousel client:load images={imageGallery} />}
      {
        headline && (
          <h1 class="font-bold text-3xl mb-8 mt-16 text-center">{headline}</h1>
        )
      }
      {heroText && <PortableText value={heroText} />}
      <div class="cta">
        <p>Join our mailing list for early access to our next event...</p>

        <button
          type="button"
          class="cta-button"
          onclick="location.href='https://rkbce3s6n3o.typeform.com/to/FMhtniXO';"
          value="Join Mailing List">Join</button
        >
      </div>
    </section>
  </main>
</Layout>
