---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
// import { Image } from "astro:assets";

// import { sanityClient } from "sanity:client";
// const events = await sanityClient.fetch(`*[_type == "event" && defined(slug)]`);
---

<Layout title="groundwaves">
  <main>
    <!-- <ul>
      {
        events.map((event: any) => {
          console.log(event);
          return (
            <li>
              <a href={"/posts/" + event.slug.current}>{event.name}</a>
            </li>
          );
        })
      }
    </ul> -->
    <section class="pb-32">
      <Carousel />
      <h1 class="font-bold text-3xl mb-8 mt-16 text-center">
        Connection Is In Our Nature
      </h1>
      <p>
        Groundwaves is an outdoor performance series that explores the
        relationship between nature, technology, and ourselves through immersive
        art experiences.
      </p>
      <div class="cta">
        <p>Join our mailing list for early access to our next event...</p>

        <button
          type="button"
          class="cta-button"
          onclick="location.href='https://rkbce3s6n3o.typeform.com/to/FMhtniXO';"
          value="Join Mailing List">Join</button
        >
      </div>
    </section>
  </main>
</Layout>
