---
import Layout from "../layouts/Layout.astro"

---

<Layout title="groundwaves">
	<main>
		  
		<section class="pt-16">
				<h1 class="font-bold text-2xl mb-8">Connection Is In Our Nature</h1>
				<p>
					Groundwaves is an outdoor performance series that explores the
					relationship between nature, technology, and ourselves through
					immersive art experiences.
				</p>
				<div class="cta">
					<p>Join our mailing list for early access to our next event...</p>
					
					<button
					type="button"
					class="cta-button"
					onclick="location.href='https://rkbce3s6n3o.typeform.com/to/FMhtniXO';"
					value="Join Mailing List">Join</button
					>
				</div>
				
		
		</section>
	
	
		
	</main>
</Layout>