---
interface Props {
  albums?: string[];
}

const { albums } = Astro.props;
---

<div class="mb-2">Featured Albums:</div>
<ul class="list-disc ml-4">
  {albums?.map((album) => <li>{album}</li>)}
</ul>
