---
const today = new Date()
---

<footer
    class="mt-auto flex flex-col gap-4 bg-skin-inverted px-8 py-8 text-xs font-thin text-skin-inverted "
>
<div class="max-w-screen-xl mx-auto w-full">

    <p class="mb-0">&copy; {today.getFullYear()} Groundworks</p>
    <p class="mb-0">
        Website: <a
        class="italic text-skin-accent-inverted"
        href="https://grahamvanpelt.dev">grahamvanpelt.dev</a
        >
    </p>
</div>
</footer>